.amigo{
    height:100vh;
    position: relative;
}

.elephant{
    width: 600px;
    position: absolute;
    z-index: 999;
    color: aliceblue;
    top: 20%;
    left: 10%;
}

.elephant h1{
    font-size: 46px;
}

.elephant p{
    font-size: 22px;
}

.monkey{
    display: flex;
    align-items: center;
    justify-content: center;
}

.monkey span{
    width: 45px;
    height: 12px;
    background-color: rgb(179, 178, 176);
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
}

.transparent-background{
    width: 100%;
    height: 50vh;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, .5));
}

.bkg{
    padding: 10%;
    background-image: linear-gradient(rgba(2, 0, 0, 0.7),rgba(2, 0, 0, 0.7) );
    border-radius: 5%;
}


.clam p{
    color: white;
}