.paycheck{
    margin: -20px 0;
}
#prodetails{
    display: flex;
    margin-top: 20px;
  
  }
  #prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
  }

  #about-head{
    display: flex;
    align-items: center;
    padding-left: 10%;
  }
  #about-head img{
    width: 50%;
    height: auto;
  }
  #about-head div{
    padding-left: 40px;
  }

  .section-p1 {
    padding: 2.5rem 5rem;
  }

  .section-p1 h2{
    text-align: center;
  }

  .budgetContainer{
    padding: 15%;
  }

  .dream{
    border: 2px solid #000;
    padding: 5%;
    background-color: rgba(35, 156, 157, 0.75);
  }
  .dream p{
    font-weight: 600;
  }

  article{
    text-align: center;
    padding-left:25%;
    padding-right: 25%;
    padding-top: 5%;
    
    
  }
  article li{
    text-align: left;
  }
  article p{
    font-weight: 400;
  }

  .fin{
    background-color: rgba(35, 156, 157, 0.75);
    border-radius: 5%;
  }

  .del{
    display: flex;
    flex-direction: row;
  }

  .pants{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }