*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #000000;
}
p{
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
li{
  text-decoration: none;
}

h1{
  font-family: "Paytone One", sans-serif;
}
.container{
  min-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: #000;
  /* position: fixed; */
}
.navcontainer{
  background-color:rgb(230, 47, 47);
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  color: #000;
}
.menu-icon{
  display: none;
  width: 28px;
  margin-left: 20px;
}
.roww{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
/*---------*/
  
}
.header .roww{
  margin-top: 50px;
  position: fixed;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  
}
small{
  color: black;
}
.bttn{
  display: inline-block;
  background: #239C9D;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.bttn:hover{
  background: #19e9e9;
}


.categories{
  margin: -20px 0;
  background-color: #239C9D;
  padding: 0px;
}


.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container h2{
  font-family: "Paytone One", sans-serif;
  font-size: 5rem;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
/*-------featured product--------------*/

.title{
  text-align: center;
  margin: 0px auto 80px;
  position: relative;
  line-height: 60px;
  color: #000000;
}
.title::after{
  content: '';
  background: #239C9D;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 1;
  left: 50%;
  transform: translateX(-50%);
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
h4{
  color: #000000;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}

.col-4:hover{
  transform: translateY(-5px);
}


/*-----------offer-------------*/
.offer{
background: rgb(230, 47, 47);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #000000;
  font-family: "Paytone One", sans-serif;
}

/*--------------------testimonial---------------*/

.testimonial{
  padding-top: 100px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px 40px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform .5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0px;
  color: #000000;
}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #000000;
  font-size: 16px;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);
}

/*---------footer-------*/

.Footer{
  margin-top: 150px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
  }
  .Footer div{
  text-align: center;
  }
  .col-b{
  flex-grow: 2;
  margin-right: auto;
  margin-left: auto;
  }
  .Footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  }
  .col-a{
    margin-right: auto;
  margin-left: auto;
  }
  .col-a a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  }
  form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  }
  form button{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  }
  .social-icons{
  margin-top: 30px;
  }
  .social-icons i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  }
  

/*                     */

/* MEDIA QUERY FOR MENU */
@media only screen and (max-width: 800px){
  nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100px;
  }
}

@media only screen and (max-width: 800px) {

  
nav ul{
  position: absolute;
  top: 70px;
  left: 0;
  background: #333;
  width: 100%;
  overflow: hidden;
  transition: 1s;
  max-height: 0;
  transition:max-height 0.5s;
  }
  
nav ul li{
  display: block;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
nav ul li a{
      color: #fff;
  }
  
.menu-icon{
      display: block;
      cursor: pointer;
  }
  

}
/*---------- 600 media query -------*/
@media only screen and (max-width: 600px){
  
  .row{
    text-align: center;
  }
  
  .col-1, .col-2, .col-3, .col-4{
      
      flex-basis: 100%;
  }
}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}